h1{
	color: white;
	font-size: 30px;
}

.header{
	box-sizing: border-box;
	padding: 10px;
	position: absolute;
	height: 150px;
	width: 100%;
	color: white;
	background: linear-gradient(rgba(42, 52, 57, 1) 50%, rgba(42, 52, 57, .9) 75%, rgba(42, 52, 57, .1) 100%);
	top: 0%;
	left: 0%;
}

h2{
	font-size: 20px;
	color: white;
	text-decoration: underline;
	text-align: center;
}

p{
	font-size: 16px;
	color: white;
	text-decoration: none;
}

a{
	color: white;
}

body{
	background-color: rgb(0, 10, 0);
	background-image: url("Space.png");
	background-repeat: repeat-y;
	background-position: center;
}

@keyframes myanim{
	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(360deg);
	}
}

@keyframes infoanim{
	from{
		transform: rotate(360deg);
	}
	to{
		transform: rotate(0deg);
	}
}

.Solar-cont{
	position: absolute;
	width: 700px;
	height: 700px;
	border-radius: 50%;
	top: 25%;
	left: 20%;
	opacity: : 0.99;
}

.Sun:hover .Sun-info{
	visibility: visible;
}

.Mercury:hover .Mercury-info{
	visibility: visible;
}

.Sun:hover {
	box-shadow:2px 2px 5px white, -2px -2px 5px white;
}

.Mercury:hover {
	animation-play-state: paused;
	box-shadow:2px 2px 5px white, -2px -2px 5px white;
}

.Venus:hover {
	animation-play-state: paused;
	box-shadow:2px 2px 5px white, -2px -2px 5px white;
}

.Earth:hover {
	animation-play-state: paused;
	box-shadow:2px 2px 5px white, -2px -2px 5px white;
}

.Mars:hover {
	animation-play-state: paused;
	box-shadow:2px 2px 5px white, -2px -2px 5px white;
}

.Jupiter:hover {
	animation-play-state: paused;
	box-shadow:2px 2px 5px white, -2px -2px 5px white ;
}

.Saturn:hover {
	animation-play-state: paused;
	box-shadow:2px 2px 5px white, -2px -2px 5px white;
}

.Uranus:hover {
	animation-play-state: paused;
	box-shadow:2px 2px 5px white, -2px -2px 5px white;
}

.Neptun:hover {
	animation-play-state: paused;
	box-shadow:2px 2px 5px white, -2px -2px 5px white;
}

.Pluto:hover {
	animation-play-state: paused;
	box-shadow:2px 2px 5px white, -2px -2px 5px white;
}

.Venus:hover .Venus-info{
	visibility: visible;
}

.Earth:hover .Earth-info{
	visibility: visible;
}

.Mars:hover .Mars-info{
	visibility: visible;
}

.Jupiter:hover .Jupiter-info{
	visibility: visible;
}

.Saturn:hover .Saturn-info{
	visibility: visible;
}

.Uranus:hover .Uranus-info{
	visibility: visible;
}

.Neptun:hover .Neptun-info{
	visibility: visible;
}

.Pluto:hover .Pluto-info{
	visibility: visible;
}

.Sun{
	width: 100px;
	height: 100px;
	background-image: url(Sun1.png);
	background-repeat: no-repeat;
	position: relative;
	top: 47%;
	left: 47%;
	background-position: center;
	border-radius: 50%;
	z-index: 1;
}

.Mercury-cont:hover{
	animation-play-state: paused;
}

.Mercury-cont{
	width: 160px;
	height: 160px;
	border: 1px solid white;
	border-radius: 50%;
	position: absolute;
	top: 42.5%;
	left: 42.5%; 
	animation: myanim 40s linear infinite; 
	pointer-events: none;
	z-index: 2;
}

.Mercury{
	width:  35px;
	height: 35px;
	background: url("Mercury1.gif");
	position: relative;
	top: 2px;
	left: 10px;
	border-radius: 50%;
	animation: infoanim 40s linear infinite;
	pointer-events: auto;
	z-index: 2;	

}

.Venus-cont:hover{
	animation-play-state: paused;
}

.Venus-cont{
	width: 230px;
	height: 230px;
	border: 1px solid white;
	border-radius: 50%;
	position: absolute;
	top: 37.5%;
	left: 37.5%; 
	animation: myanim 50s linear infinite;
	pointer-events: none; 
	z-index: 3;
}

.Venus{
	width:  40px;
	height: 40px;
	background: url("Venus.gif");
	position: relative;
	top: 19px;
	left: 10px;
	border-radius: 50%;
	pointer-events: auto;
	animation: infoanim 50s linear infinite;
	z-index: 3;
}

.Earth-cont:hover{
	animation-play-state: paused;
}

.Earth-cont{
	width: 300px;
	height: 300px;
	border: 1px solid white;
	border-radius: 50%;
	position: absolute;
	top: 32%;
	left: 32%; 
	animation: myanim 60s linear infinite;
	pointer-events: none; 
	z-index: 4;
}

.Earth{
	width:  42px;
	height: 42px;
	background: url("Earth.gif");
	position: relative;
	top: 25px;
	left: 5px;
	border-radius: 50%;
	pointer-events: auto;
	animation: infoanim 60s linear infinite;
	z-index: 4;
}

.Mars-cont:hover{
	animation-play-state: paused;
}

.Mars-cont{
	width: 380px;
	height: 380px;
	border: 1px solid white;
	border-radius: 50%;
	position: absolute;
	top: 26%;
	left: 26%; 
	animation: myanim 70s linear infinite; 
	pointer-events: none;
	z-index: 5;
}

.Mars{
	width:  42px;
	height: 42px;
	background: url("Mars.gif");
	position: relative;
	top: 90px;
	left: 0px;
	border-radius: 50%;
	pointer-events: auto;
	animation: infoanim 70s linear infinite;
	z-index: 5;
}

.Jupiter-cont:hover{
	animation-play-state: paused;
}

.Jupiter-cont{
	width: 480px;
	height: 480px;
	border: 1px solid white;
	border-radius: 50%;
	position: absolute;
	top: 20%;
	left: 20%; 
	animation: myanim 80s linear infinite;
	pointer-events: none; 
	z-index: 6;
}

.Jupiter{
	width:  60px;
	height: 60px;
	background: url("Jupiter.gif");
	position: relative;
	top: 80px;
	left: 0px;
	border-radius: 50%;
	pointer-events: auto;
	animation: infoanim 80s linear infinite;
	z-index: 6;
}

.Saturn-cont:hover{
	animation-play-state: paused;
}

.Saturn-cont{
	width: 590px;
	height: 590px;
	border: 1px solid white;
	border-radius: 50%;
	position: absolute;
	top: 13%;
	left: 13%; 
	animation: myanim 90s linear infinite;
	pointer-events: none; 
	z-index: 7;
}

.Saturn{
	width:  140px;
	height: 55px;
	background: url("Saturn.gif");
	background-position: center;
	position: relative;
	top: 70px;
	left: 5px;
	border-radius: 50%;
	pointer-events: auto;
	animation: infoanim 90s linear infinite;
	z-index: 7;
}

.Uranus-cont:hover{
	animation-play-state: paused;
}

.Uranus-cont{
	width: 640px;
	height: 640px;
	border: 1px solid white;
	border-radius: 50%;
	position: absolute;
	top: 10%;
	left: 10%; 
	animation: myanim 100s linear infinite;
	pointer-events: none;
	z-index: 8;
}

.Uranus{
	width:  50px;
	height: 50px;
	background: url("Uranus.gif");
	position: relative;
	top: 140px;
	left: 5px;
	border-radius: 50%;
	pointer-events: auto;
	animation: infoanim 100s linear infinite;
	z-index: 8;
}

.Neptun-cont:hover{
	animation-play-state: paused;
}

.Neptun-cont{
	width: 750px;
	height: 750px;
	border: 1px solid white;
	border-radius: 50%;
	position: absolute;
	top: 3%;
	left: 3%; 
	animation: myanim 120s linear infinite;
	pointer-events: none; 
	z-index: 9;
}

.Neptun{
	width:  45px;
	height: 45px;
	background: url("Neptun.gif");
	position: relative;
	top: 190px;
	left: 10px;
	border-radius: 50%;
	pointer-events: auto;
	animation: infoanim 120s linear infinite;
	z-index: 9;
}

.Pluto-cont:hover{
	animation-play-state: paused;
}

.Pluto-cont{
	width: 800px;
	height: 800px;
	border: 1px solid white;
	border-radius: 50%;
	position: absolute;
	top: -1%;
	left: -1%; 
	animation: myanim 140s linear infinite;
	pointer-events: none; 
	z-index: 10;
}

.Pluto{
	width:  20px;
	height: 20px;
	background: url("Pluto.gif");
	position: relative;
	top: 220px;
	left: 20px;
	border-radius: 50%;
	pointer-events: auto;
	animation: infoanim 140s linear infinite;
	z-index: 10;
}

.Sun-info{
	height: 250px;
	width: 200px;
	background-color: #173f5f;
	visibility: hidden;
	position: relative;
	top: 75%;
	left: 75%;
	border-top-right-radius:5%; 
	border-bottom-right-radius:5%;
	border-bottom-left-radius:5%; 
	padding: 10px;
	box-sizing: border-box; 
	z-index: 1;
}

.Mercury-info{
	height: 250px;
	width: 200px;
	background-color: #173f5f;
	visibility: hidden;
	position: relative;
	top: 75%;
	left: 75%;
	border-top-right-radius:5%; 
	border-bottom-right-radius:5%;
	border-bottom-left-radius:5%; 
	padding: 10px;
	box-sizing: border-box;
	z-index: 2;
}

.Venus-info{
	height: 250px;
	width: 200px;
	background-color: #173f5f;
	visibility: hidden;
	position: relative;
	top: 75%;
	left: 75%;
	border-top-right-radius:5%; 
	border-bottom-right-radius:5%;
	border-bottom-left-radius:5%;
	padding: 10px;
	box-sizing: border-box; 
	z-index: 3;
}

.Earth-info{
	height: 250px;
	width: 200px;
	background-color: #173f5f;
	visibility: hidden;
	position: relative;
	top: 75%;
	left: 75%;
	border-top-right-radius:5%; 
	border-bottom-right-radius:5%;
	border-bottom-left-radius:5%; 
	z-index: 4;
}

.Mars-info{
	height: 250px;
	width: 200px;
	background-color: #173f5f;
	visibility: hidden;
	position: relative;
	top: 75%;
	left: 75%;
	border-top-right-radius:5%; 
	border-bottom-right-radius:5%;
	border-bottom-left-radius:5%; 
	padding: 10px;
	box-sizing: border-box;
	z-index: 5;
}

.Jupiter-info{
	height: 250px;
	width: 200px;
	background-color: #173f5f;
	visibility: hidden;
	position: relative;
	top: 75%;
	left: 75%;
	border-top-right-radius:5%; 
	border-bottom-right-radius:5%;
	border-bottom-left-radius:5%; 
	padding: 10px;
	box-sizing: border-box;
	z-index: 6;
}

.Saturn-info{
	height: 250px;
	width: 200px;
	background-color: #173f5f;
	visibility: hidden;
	position: relative;
	top: 75%;
	left: 75%;
	border-top-right-radius:5%; 
	border-bottom-right-radius:5%;
	border-bottom-left-radius:5%; 
	padding: 10px;
	box-sizing: border-box;
	z-index: 7;
}

.Uranus-info{
	height: 250px;
	width: 200px;
	background-color: #173f5f;
	visibility: hidden;
	position: relative;
	top: 75%;
	left: 75%;
	border-top-right-radius:5%; 
	border-bottom-right-radius:5%;
	border-bottom-left-radius:5%; 
	padding: 10px;
	box-sizing: border-box;
	z-index: 8;
}

.Neptun-info{
	height: 250px;
	width: 200px;
	background-color: #173f5f;
	visibility: hidden;
	position: relative;
	top: 75%;
	left: 75%;
	border-top-right-radius:5%; 
	border-bottom-right-radius:5%;
	border-bottom-left-radius:5%; 
	padding: 10px;
	box-sizing: border-box;
	z-index: 9;
}

.Pluto-info{
	height: 250px;
	width: 200px;
	background-color: #173f5f;
	visibility: hidden;
	position: relative;
	top: 75%;
	left: 75%;
	border-top-right-radius:5%; 
	border-bottom-right-radius:5%;
	border-bottom-left-radius:5%; 
	z-index: 10;
}

