h1{
	color: blue;
	font-size: 100px;
}

body{
	background-color: rgb(0, 10, 0);
	background-image: url("https://github.com/AlexKalenskiy8273/Project1/blob/master/Space.gif");
	background-repeat: repeat-y;
	background-position: center;
}

@keyframes myanim{
	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(360deg);
	}
}

@keyframes infoanim{
	from{
		transform: rotate(360deg);
	}
	to{
		transform: rotate(0deg);
	}
}

.Solar-cont{
	position: absolute;
	width: 700px;
	height: 700px;
	border-radius: 50%;
	top: 20%;
	left: 20%;
}

.Sun:hover .Sun-info{
	visibility: visible;
	animation-play-state: paused;
}

.Mercury:hover .Mercury-info{
	visibility: visible;
	animation-play-state: paused;
}

.Venus:hover .Venus-info{
	visibility: visible;
	animation-play-state: paused;
}

.Earth:hover .Earth-info{
	visibility: visible;
	animation-play-state: paused;
}

.Mars:hover .Mars-info{
	visibility: visible;
	animation-play-state: paused;
}

.Jupiter:hover .Jupiter-info{
	visibility: visible;
	animation-play-state: paused;
}

.Saturn:hover .Saturn-info{
	visibility: visible;
	animation-play-state: paused;
}

.Uranus:hover .Uranus-info{
	visibility: visible;
	animation-play-state: paused;
}

.Neptun:hover .Neptun-info{
	visibility: visible;
	animation-play-state: paused;
}

.Pluto:hover .Pluto-info{
	visibility: visible;
	animation-play-state: paused;
}

.Sun{
	width: 100px;
	height: 100px;
	background-image: url(Sun1.png);
	background-repeat: no-repeat;
	position: relative;
	top: 47%;
	left: 47%;
	background-position: center;
	border-radius: 50%;
}

.Mercury-cont:hover{
	animation-play-state: paused;
}

.Mercury-cont{
	width: 200px;
	height: 200px;
	border: 1px solid white;
	border-radius: 50%;
	position: absolute;
	top: 39.5%;
	left: 39.5%; 
	animation: myanim 40s linear infinite; 
	pointer-events: none;
}

.Mercury{
	width:  35px;
	height: 35px;
	background: url("Mercury1.gif");
	position: relative;
	top: 10px;
	left: 10px;
	border-radius: 50%;
	pointer-events: auto;	
}

.Venus-cont:hover{
	animation-play-state: paused;
}

.Venus-cont{
	width: 260px;
	height: 260px;
	border: 1px solid white;
	border-radius: 50%;
	position: absolute;
	top: 34.5%;
	left: 35.5%; 
	animation: myanim 50s linear infinite;
	pointer-events: none; 
}

.Venus{
	width:  40px;
	height: 40px;
	background: url("Venus.gif");
	position: relative;
	top: 19px;
	left: 10px;
	border-radius: 50%;
	pointer-events: auto;
}

.Earth-cont:hover{
	animation-play-state: paused;
}

.Earth-cont{
	width: 330px;
	height: 330px;
	border: 1px solid white;
	border-radius: 50%;
	position: absolute;
	top: 29.5%;
	left: 30.5%; 
	animation: myanim 60s linear infinite;
	pointer-events: none; 
}

.Earth{
	width:  42px;
	height: 42px;
	background: url("Earth.gif");
	position: relative;
	top: 50px;
	left: 5px;
	border-radius: 50%;
	pointer-events: auto;
}

.Mars-cont:hover{
	animation-play-state: paused;
}

.Mars-cont{
	width: 400px;
	height: 400px;
	border: 1px solid white;
	border-radius: 50%;
	position: absolute;
	top: 25%;
	left: 26%; 
	animation: myanim 70s linear infinite; 
	pointer-events: none;
}

.Mars{
	width:  42px;
	height: 42px;
	background: url("Mars.gif");
	position: relative;
	top: 90px;
	left: 0px;
	border-radius: 50%;
	pointer-events: auto;
}

.Jupiter-cont:hover{
	animation-play-state: paused;
}

.Jupiter-cont{
	width: 460px;
	height: 460px;
	border: 1px solid white;
	border-radius: 50%;
	position: absolute;
	top: 21%;
	left: 22%; 
	animation: myanim 80s linear infinite;
	pointer-events: none; 
}

.Jupiter{
	width:  60px;
	height: 60px;
	background: url("Jupiter.gif");
	position: relative;
	top: 80px;
	left: 0px;
	border-radius: 50%;
	pointer-events: auto;
}

.Saturn-cont:hover{
	animation-play-state: paused;
}

.Saturn-cont{
	width: 530px;
	height: 530px;
	border: 1px solid white;
	border-radius: 50%;
	position: absolute;
	top: 16%;
	left: 18%; 
	animation: myanim 90s linear infinite;
	pointer-events: none; 
}

.Saturn{
	width:  140px;
	height: 55px;
	background: url("Saturn.gif");
	background-position: center;
	position: relative;
	top: 50px;
	left: 5px;
	border-radius: 50%;
	pointer-events: auto;
}

.Uranus-cont:hover{
	animation-play-state: paused;
}

.Uranus-cont{
	width: 590px;
	height: 590px;
	border: 1px solid white;
	border-radius: 50%;
	position: absolute;
	top: 12%;
	left: 14%; 
	animation: myanim 100s linear infinite;
	pointer-events: none;
}

.Uranus{
	width:  50px;
	height: 50px;
	background: url("Uranus.gif");
	position: relative;
	top: 140px;
	left: 5px;
	border-radius: 50%;
	pointer-events: auto;
}

.Neptun-cont:hover{
	animation-play-state: paused;
}

.Neptun-cont{
	width: 630px;
	height: 630px;
	border: 1px solid white;
	border-radius: 50%;
	position: absolute;
	top: 9.5%;
	left: 11%; 
	animation: myanim 120s linear infinite;
	pointer-events: none; 
}

.Neptun{
	width:  45px;
	height: 45px;
	background: url("Neptun.gif");
	position: relative;
	top: 160px;
	left: 5px;
	border-radius: 50%;
	pointer-events: auto;
}

.Pluto-cont:hover{
	animation-play-state: paused;
}

.Pluto-cont{
	width: 660px;
	height: 660px;
	border: 1px solid white;
	border-radius: 50%;
	position: absolute;
	top: 8%;
	left: 9%; 
	animation: myanim 140s linear infinite;
	pointer-events: none; 
}

.Pluto{
	width:  20px;
	height: 20px;
	background: url("Pluto.gif");
	position: relative;
	top: 220px;
	left: 5px;
	border-radius: 50%;
	pointer-events: auto;
}

.Sun-info{
	height: 400px;
	width: 200px;
	background-color: white;
	visibility: hidden;
}

.Mercury-info{
	height: 400px;
	width: 200px;
	background-color: white;
	visibility: hidden;
	animation: infoanim 40s linear infinite;
}

.Venus-info{
	height: 400px;
	width: 200px;
	background-color: white;
	visibility: hidden;
	animation: infoanim 50s linear infinite;
}

.Earth-info{
	height: 400px;
	width: 200px;
	background-color: white;
	visibility: hidden;
	animation: infoanim 60s linear infinite;
}

.Mars-info{
	height: 400px;
	width: 200px;
	background-color: white;
	visibility: hidden;
	animation: infoanim 70s linear infinite;
}

.Jupiter-info{
	height: 400px;
	width: 200px;
	background-color: white;
	visibility: hidden;
	animation: infoanim 80s linear infinite;
}

.Saturn-info{
	height: 400px;
	width: 200px;
	background-color: white;
	visibility: hidden;
	animation: infoanim 90s linear infinite;
}

.Uranus-info{
	height: 400px;
	width: 200px;
	background-color: white;
	visibility: hidden;
	animation: infoanim 100s linear infinite;
}

.Neptun-info{
	height: 400px;
	width: 200px;
	background-color: white;
	visibility: hidden;
	animation: infoanim 120s linear infinite;
}

.Pluto-info{
	height: 400px;
	width: 200px;
	background-color: white;
	visibility: hidden;
	animation: infoanim 140s linear infinite;
}


